body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: url(/img/forest_authori.jpg), rgba(0, 0, 0, 0.575);
    background-position: top;
    background-size: cover;
    color: white;
    padding: 10px;
    background-blend-mode: multiply;

    

}
.input {
    border: 1.5px solid white;
    margin-bottom: 0.3em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .6em;
}

.input > i {
    margin-right: .7em;
    
}

.input > input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    flex-grow: 1;
    
}
input{
    display: flex;
    float: right;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    flex-grow: 1;
    margin-top: 5px;
}
div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
button{
    background-color: rgb(147, 194, 16);
    padding: 6px;
    border: 1px solid greenyellow;
    border-radius: 8px;

}
.btn{
    display: flex;
    flex-direction: column;
}

a{
    color: rgb(0, 137, 0);
}

.agree {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.agree > p {
    display: inline-block;
    font-size: 1em;
}

.nounderline {
    color: rgb(0, 137, 0);
    text-decoration: none;
}